@import url('https://fonts.googleapis.com/css?family=Blinker|Libre+Caslon+Display&display=swap');

.App {
  text-align: center;
  width:50%;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nasaCardContainer{
  /* border:1px solid black; */
  background-color:grey;
  width:90%;
  margin:4rem auto;
  display:flex;
  flex-direction: column;
}

.imageContainer, 
.textContainer{
  padding: 2%;
}

.nasaCard,
.nasaTextCard{
  width:80%;
  margin:0 auto;

}

.nasaTitle, 
.appTitle,
.nasaDate{
  font-family: 'Blinker', sans-serif;
  color:white;
}

.nasaImgDesc{
  font-family: 'Libre Caslon Display', serif;
  color:white;
  padding-bottom:5%;
}

.nasaImg{
  width:100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
